.Button {
	border: none;
	color: #ffffff;
	cursor: pointer;
	font: inherit;
	padding: 10px 15px;
	margin-left: 15px;
}

.Success {
	background-color: rgb(7, 143, 52);
}
.Success:hover {
	background-color: rgb(25, 117, 79);
}

.Danger {
	background-color: #9c0b0b;
}
.Danger:hover {
	background-color: #e63737;
}

.Info {
	background-color: #1d5863;
}
.Info:hover {
	background-color: #264d5f;
}
